
<br>
<div class="card-body col-md-8 offset-md-2">
    <h3>Usuario:</h3>
    <h4>{{user.username}}</h4>
    <center>
        <img src="/public/upload/{{user.filename}}" style="height:300px;" alt="a" class="img-fluid rounded-circle"><br>
    </center>
    <br>
    <div class="container">
         <h3>{{user.name}}‎ {{user.surname}}</h3>
    </div>
    <div class="card-body">
        <form action="/photo/{{user.username}}" method="post" enctype="multipart/form-data">
            <br>
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Insertar Titulo" required>
            </div>
            <br>
            <div class="form-group">
                <input type="file" name="image" id="image" required onchange="previewImage(event, '#imgPreview')">
            </div>
            <div class="form-group">
                <button class="btn btn-success">
                    <i class="fa fa-upload"></i> Carga imagen
                </button>
                <img id="imgPreview" height="200px" width="200px">
            </div>
        </form>
    </div>
    <div class="card mt-2">
    <div class="card-header">
        <h3><i class="far fa-images"></i>Subidas Recientes</h3>
    </div>
    <div class="card-body">
        <div class="row mt-4">
            {{#each photo}}
                <div class="col-md-4 col-sm-6 mb-3">
                    <a href="/public/upload/{{filename}}">
	                    <img src="/public/upload/{{filename}}" class="img-fluid" style="height:250px; width:250px">
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>
</div>
</div>
<script>
  function previewImage(event, querySelector){

	//Recuperamos el input que desencadeno la acción
	const input = event.target;
	
	//Recuperamos la etiqueta img donde cargaremos la imagen
	$imgPreview = document.querySelector(querySelector);

	// Verificamos si existe una imagen seleccionada
	if(!input.files.length) return
	
	//Recuperamos el archivo subido
	file = input.files[0];

	//Creamos la url
	objectURL = URL.createObjectURL(file);
	
	//Modificamos el atributo src de la etiqueta img
	$imgPreview.src = objectURL;
                
}
</script>



